# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

# Add bin directory to $PATH
export PATH=$(pwd)/vendor/bin:$(pwd)/node_modules/.bin:$(pwd)/tests/node_modules/.bin:$PATH

